<div id="search_box">
    {{ form_start(form) }}
        {{ form_widget(form.club) }}
        {{ form_widget(form.phone) }}

        <button type="submit" class="btn btn-primary">Buscar</button>
    {{ form_end(form) }}
</div>

<a href="javascript:;" class="btn btn-primary" id="search">Buscar Club</a>