{% extends "::base.html.twig" %}

{% block title %}AppBundle:Player:create{% endblock %}

{% block body %}
    <h1>Nuevo Jugador</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Guardar</button>
    {{ form_end(form) }}
{% endblock %}
